
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@font-face {
    font-family: "dota_2_Style_text";
    src: url("fonts/dota_2_Style_text.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: grey;
}

.html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    
}

.nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 15px;
    display: inline-block
}

.nav a:hover {
    background-color: slategray;
}

.nav {
    text-align: center;
    border-bottom: 1px solid snow;
    font-weight: lighter;
    font-size: 120%;

}

.nav li{
    padding: 0 5%;
}

.main_header {
    background-image: url(images/Header_background.jpg);
    background-size: cover;
}

.teamName {
    text-align: center;
    font-size: 50px;
    font-family: "dota_2_Style_text";
    color: white;
    font-weight: lighter ;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 50px;
    display: table;
}

.section-header {
    font-family: 'Metal Mania';
    font-weight: normal;
    color: black;
    text-align: center;
    font-size: 2.5em;
}

.home-page-image {
    float: left;
    margin: 15px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.footer-container {
    background-color: rgb(57, 209, 214);
    padding: 12px;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
    display: table;
    margin: 0 auto;
    text-align: end;

}

.footer-container li {
    display: inline;
    
}

.footer-container li{
    margin-left: 10px;
}

.footer-container li:hover {
    background-color: slategray;
    
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 16px;
    cursor: pointer;
}

.btn-merchandise {
    margin: .5em 15% 2em 15%;
    color: white;
    background-color: rgb(250, 255, 255, .1);
    border-radius: 15%;
    border: 2px solid #2d9cdb;
    font-size: 1em;
    font-weight: bolder;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-merchandise:hover {
    background-color: rgb(250, 255, 255, .5);
}

.event-section{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
}
.match-row{
    border-bottom: 1px solid black;
    margin: 1em;
    padding: 1em;
}

.match-row:last-child{
    border-bottom: none;
}

.match-item{
    display: inline-block;
    padding-right: .5em;
}

.match-date{
    font-weight: bold;
    color: #555;
    width: 23%;
}

.match-type{
    width: 24%;
}

.match-score{
    width: 18%;
}

.match-againts{
    width: 15%;
}

.match-btn{
    max-width: 29%;
}

.btn-match{
    color: white;
    background-color: #2d9cdb;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: 12px;
}

.btn-match:hover{
    background-color: rgb(15, 15, 155);
}

.player-role {
    display: block;
    color: #333;
    font-weight: bolder;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.player-details {
    padding: 5px;    
}

.player-name {
    color: #333;
    padding: 2px;
    font-weight: bolder;
}

.player-div {
    margin: 2em;

}

.player-image {
    height: 250px;
}

.players-alignment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-header {
    display: block;
    text-align: center;
    padding-bottom: 2em;
    font-weight: bolder;
    color: #333;
}
.item-div {
    margin: 2em;
}

.player-section {
    max-width: 900%;
}

.item-image {
    height: 250px;
}

.item-details {
    padding: 5px;
}

.item-price {
    padding: 2px;
    font-weight: bolder;
    color: #333;
}   

.item-btn {
    color: white;
    background-color: #2d9cdb;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: 12px;
    margin-left: 2em;
}

.items-alignment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


